.ficha {
    width: var(--layout-width);
    margin: 30px auto 10px;
    line-height: 1.5;
}
@media print {
    .ficha {
        margin-top: 15px;
    }
}
.ficha__header {
    padding-left: 70px;
    position: relative;
}
.ficha__moldura-de-emblema {
    max-width: 210px;
}
.ficha__emblema {
    width: 90px;
    height: 90px;
}
.ficha__span-descricao-de-emblema {
    display: block;
    line-height: 1.3;
    font-family: serif,Georgia,'Times New Roman',Times;
    font-size: 14.8px;
}
.ficha__span-descricao-de-emblema--fs-the-same-as-title {
    margin: 1.5px 0 3px;
}
.ficha__span-descricao-de-emblema--fs-the-same-as-title,
.ficha__titulo {
    font-size: 18px;
    font-weight: 700;
}
.ficha__titulo {
    font-weight: 700;
    line-height: 1.3;
}
.ficha__mod-sis-m01 {
    position: absolute;
    top: 83px;
    right: 50px;
    font-weight: 700;
}
.ficha__linha-de-prov-e-distrito {
    display: grid;
    grid-template-columns: 365px 451px;
    grid-column-gap: 35px;
    margin: 20px 0 25px;
    min-height: 21px;
}
.ficha__linha-de-us-mes-e-ano {
    display: grid;
    grid-template-columns: 450px 198px 122px;
    margin: 0;
    min-height: 23px;
    grid-column-gap: 40px;
}
.ficha__label-ano {
    margin-left: 8px;
}
.ficha__header div {
    overflow: hidden;
}
.ficha__header input {
    width: 100%;
    margin-left: 4px;
    text-align: left;
}
.ficha__header input::-webkit-calendar-picker-indicator {
    display: none !important;
}
.ficha__body__header {
    display: grid;
    grid-template-columns: 58px 400px repeat(2,calc(83px * 3));
    font-weight: 700;
}
.container-do-titulo-no,
.container-do-titulo-indicadores,
.grid-template-cols-3 span {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.grid-template-cols-3 {
    display: grid;
    grid-template-columns: repeat(3,83px);
    grid-template-rows: 30px;
}
.grid-template-cols-8 {
    display: grid;
    grid-template-columns: 58px 400px repeat(6,83px);
}
.grid-template-rows-8,
.ficha__col-de-inputs {
    display: grid;
    grid-template-rows: repeat(8,30px);
}
.ficha__indicador {
    padding-left: 8px;
    padding-right: 4px;
}
@media screen and (min-width: 480px) and (max-width:700px) {
    .ficha__col-de-indicadores,
    .container-do-titulo-indicadores {
        position: sticky;
        left: -15px;
        background-color: var(--yt)
    }
}
.ficha__col-de-inputs {
    grid-template-columns: 100%;
}
.ficha__col-de-inputs input {
    border-top: 1px solid var(--cor-de-borda);
}
.ficha__col-de-inputs input:first-child {
    border-top: none;
}
.input-nao-celular {
    border-bottom: 1px solid var(--cor-de-borda);
}
[data-total]:focus,
.input-nao-celular:focus {
    border-bottom: 2px solid var(--blue);
    background-color: var(--greenyellow);
    color: var(--cor-de-texto);
}
@media screen {
    .input--realcar-totais {
        background-color: var(--cor-de-realce-de-totais);
    }
}
.input--bg-color-danger {
    background-color: var(--cor-de-risco);
    color: var(--yt)
}
.input--bg-color-dark {
    background-color: var(--black);
}
.ficha__legenda {
    justify-content: left;
    font-size: 12.5px;
    font-style: italic;
    padding-left: 10px;
    margin-top: 2px;
    font-size: 14.5px;
}
.ficha__rodape__linha  {
    margin-left: 10px;
    margin-bottom: 10px;
    min-height: 20px;
    font-weight: 700;
}
.ficha__rodape__linha-de-assinatura {
    margin: 18px 0 10px 10px;
}
.ficha__campo-de-assinatura {
    width: 254px;
}
.ficha__campo-de-data {
    margin-left: 16px;
}
.--destaque-padrao {
    background-color: var(--gray-d);
}
